#search-bar-2 {
    height: 38px;
    width: 50%;
    font-size: 20px;
    left: 280px;
    top: 17px;
    position: fixed;
    border-radius: 10px;
    flex: 1;
}

#submit-button {
    z-index: 1;
    width: 50px;
    height: 44px;
    border-radius: 10px;
    position: absolute;
    left: 700px;
    top: 17px;
    flex: 2;
}

#search-bar-2:placeholder-shown {
    color:darkgrey;
}

#search-bar-2:focus {
    box-shadow: 0px 0px 10px 4px rgba(221, 161, 71, 0.596);
}

#flexContainer {
    display: flex;
}